---
import BaseLayout from "../../layout/BaseLayout.astro";
import Grid from "../../components/Grid.astro";
import Card from "../../components/CCard.astro";
---

<BaseLayout>
    <Grid>
        <Card>
            <h2>Lorem, ipsum.</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Repudiandae earum voluptates ab, assumenda odit recusandae
                cupiditate.
            </p>
        </Card>
        <Card>
            <h2>Nam, hic?</h2>
            <p>
                Tenetur inventore, nemo hic veritatis ex dolore, debitis
                incidunt, neque alias mollitia blanditiis perferendis non velit.
            </p>
        </Card>
        <Card>
            <h2>Voluptatum, architecto?</h2>
            <p>
                Nesciunt atque, dolorem suscipit fuga sequi cumque maiores quis,
                eos minus officiis esse incidunt delectus maxime?
            </p>
        </Card>
        <Card>
            <h2>Quod, distinctio.</h2>
            <p>
                Dignissimos rem voluptatibus delectus harum modi eveniet
                corporis dicta amet adipisci aliquam labore, autem aperiam
                nobis!
            </p>
        </Card>
        <Card>
            <h2>Deleniti, sequi?</h2>
            <p>
                Id sit perferendis eveniet quia voluptatum perspiciatis tempore
                magnam sequi nostrum cupiditate voluptatibus ea, possimus
                debitis.
            </p>
        </Card>
        <Card>
            <h2>Voluptatum, iusto.</h2>
            <p>
                Soluta nisi placeat, exercitationem sunt nostrum similique vel
                alias? Necessitatibus tempora sunt eaque, consequuntur molestiae
                autem.
            </p>
        </Card>
        <Card>
            <h2>Pariatur, harum?</h2>
            <p>
                Sequi quos fugit itaque nihil voluptas nisi debitis, quaerat
                nobis nam sapiente harum doloremque, earum eum!
            </p>
        </Card>
        <Card>
            <h2>Ipsa, obcaecati.</h2>
            <p>
                Enim amet qui accusantium ipsam minus excepturi, soluta
                laboriosam eos voluptates quasi, similique nemo officiis
                eveniet.
            </p>
        </Card>
        <Card>
            <h2>Magnam, inventore.</h2>
            <p>
                Officiis vitae ex vero fuga similique dolores nam at, possimus
                temporibus aliquam nihil laudantium hic expedita?
            </p>
        </Card>
        <Card>
            <h2>Cumque, at!</h2>
            <p>
                Consectetur quasi tenetur esse dolorem provident. Sed, rem
                dignissimos molestias voluptatum suscipit omnis numquam
                cupiditate nesciunt?
            </p>
        </Card>
        <Card>
            <h2>Iure, quaerat?</h2>
            <p>
                Mollitia tempore quam consequuntur aliquid, doloribus obcaecati
                doloremque error maiores eveniet incidunt qui dignissimos nulla
                exercitationem.
            </p>
        </Card>
        <Card>
            <h2>Non, fuga.</h2>
            <p>
                Assumenda quis nesciunt hic debitis quam mollitia, voluptatem
                adipisci voluptas, consectetur accusamus commodi quaerat impedit
                rem.
            </p>
        </Card>
        <Card>
            <h2>Eaque, sed?</h2>
            <p>
                Nesciunt cum doloremque cumque accusamus, ratione voluptates.
                Saepe repellat voluptates quisquam eius deserunt aspernatur,
                esse explicabo.
            </p>
        </Card>
        <Card>
            <h2>Possimus, eius.</h2>
            <p>
                Iusto, saepe! Ut, voluptate? Quibusdam ad ipsa, deserunt porro
                quia vitae commodi recusandae a laborum minima!
            </p>
        </Card>
        <Card>
            <h2>Recusandae, cumque.</h2>
            <p>
                Minima earum odit quibusdam aut velit tempora, repellendus
                reiciendis illum laudantium, ea dolor rerum soluta qui!
            </p>
        </Card>
        <Card>
            <h2>Enim, rem?</h2>
            <p>
                Provident vel modi, iure eum voluptatem vitae totam placeat?
                Repudiandae amet, eum dicta cumque ratione debitis?
            </p>
        </Card>
    </Grid>
</BaseLayout>
