* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  position: relative;

  margin: 0;
  padding: 4px;

  background-color: #fff;
}

main {
  flex-grow: 1;
}
html[data-fullscreen] main {
  overflow: hidden;
}

#viewport-frame {
  overflow: hidden scroll;
  padding: 8px;

  height: 100%;

  display: flex;
  flex-direction: column;

  box-shadow: 0 0 6px 0 inset hsl(0 0% 0% / 0.15);
  border-radius: 8px;
}

#viewport-frame > nav,
main {
  max-width: 976px;
  width: 100%;
  margin-inline: auto;
}

::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 4px;
}

:where(img, picture, video, svg) {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

#automa-palette {
  display: none;
}
astro-dev-toolbar {
  display: none;
}
